<p><%= t("mailers.password_reset.greeting", name: @user.name) %></p>

<p><%= t("mailers.password_reset.copy") %></p>

<p>
  <%= link_to t("mailers.password_reset.action"), edit_password_reset_url(token: @token) %>
</p>

<p><%= t("mailers.password_reset.ignore") %></p>
